:root {
  --fondo: #dbdad5;
  --texto: #00192f;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--fondo);
  color: var(--texto);
}

.image {
  border: 5px solid #806375;
  border-radius: 10px;
  height: 400px;
}

.link-button {
  text-decoration: none;
  color: black;
  border: 1px solid gray;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 3px #888888;
}

.link-button:hover {
  background-color: rgb(217, 124, 217);
  font-size: 107%;
}
